*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#logo img{
    height: 56;
    border-radius: 50%;
    width: 80px;
}

#navbar ul {
    display:flex;
}
#navbar::before{
    content: " ";
    background-color:black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

#navbar ul li{
    list-style-type: none;
    font-size: 1.2rem;
}


#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;

}

#navbar ul li a:hover{
    color:black;
    display: block;
    background-color: white;

}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: " ";
    background:url('../image.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

#home h1{
    color: white;
    text-align: center;

}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#services{
  margin: 34px;
  display: flex;  
}
#services.box{
   border: 2px solid brown;
   padding: 34px;
   margin: 3px 6px;
   border-radius: 28px;
   background: #f2f2f2;

}
services.box img{
    height: 160px;
    margin: auto;
    display: block;

}
.box{
    height: 200px;
    display:block;


}
#services{}
.h-primary{
    font-size: 3.8rem;
    padding: 30px;
    
}



.h-secondary{
    font-size: 2.8 rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;

}