*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 0px 0px;

}

#logo img{
    height: 56;
    margin: 0px 0px;

}
#navbar ul {
    display:flex;
}
#navbar ul li{
    list-style-type: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    display: flex;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
